services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    env_file: .env
    volumes:
      - mysql_data:/var/lib/mysql
    
    networks:
      - app-network

  backend:
    image: elpaco/back-end:latest
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    env_file: .env
    depends_on:
      - mysql
    networks:
      - app-network

  frontend:
    image: elpaco/front-end:latest
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:
volumes:
  mysql_data: