version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    env_file: .env
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    image: elpaco/backend:latest
    container_name: backend
    restart: always
    env_file: .env
    depends_on:
      - mysql

  frontend:
    image: elpaco/frontend:latest
    container_name: frontend
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mysql_data:
